@import "tailwindcss";


* {
  


  /* font-family: "mono", "monospace"; */
  
  font-family: "Montserrat", sans-serif;
  

}

button {
  border: 1px solid #000;
  padding: 10px 20px;
  border-radius: 5px;
  color: whitesmoke;
  margin: 10px;
  box-shadow: 10px 10px 0px rgba(0, 0, 0, 0.1)  ;
  background-color: crimson;
  
}